.header{
    height: 250px;
    width: 100%;
    background: var(--primary-color);
    position: relative;

}
/*top header  */
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 20%;
    border-bottom: 1px solid var(--main-color);
}

.header-top-menu{
    display: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);

   
}
.header-top-phone,
.header-top-text,
.header-top-link{
    font-size: 28px;
    color: var(--main-color);
    font-weight: 500;
}
.header-top-phone i,
.header-top-link i{
    margin-right: 10px ;

}
/*middle header  */
.header-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 50%;
}
.header-middle-logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;

}
.header-middle-logo i{
    font-size: 30px;
    margin-right : 6px;
    margin-left: 6px;
}
.header-middle-search-box{
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    background: white;
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
}
.header-middle-search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 25px;

}
.header-middle-search-box .bi-search{
    position: absolute;
    right: 15px;
    top:10px;
    bottom: 0;
    font-size: 30px;
    color: var(--primary-color);
}
.header-middle-cart-wraper i{
   font-size: 44px;
    color: white;
    cursor: pointer;

}
/*navbar  */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    background-color: var(--main-color);
    box-shadow: 0 0 1px 2px gray;
    height: 30%;
}
.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.navbar-link{
    padding: 0 20px;
    font-size: 21px;
    font-weight: 600;
    color: #525452;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}
.navbar-link:hover{
    background-color: snow;
    
} 
/*responsive  */
@media (max-width: 990px) {
    .header-middle-search-box{
        width: 600px;
    }
}
@media (max-width: 920px) {
    .header-middle-search-box{
        width: 450px;
    }
    .header-top-text{
        font-size: 17px;
    }
  .header-top-logo{
    font-size: 17px;
    font-weight: 400;
  }
}
@media (max-width: 720px) {
   .header-top-text{
    display: none;

   }
   .header-top-menu{
    display: block;
   }
   .header-middle{
    flex-wrap: wrap;
    padding: 0 30px;
    height: 80%;

   }
   .header-middle-search-box{
    width: 100%;
    margin-top: 20px;
   }
  .header-middle-logo{
    display: none;
  }
  .navbar{
    position: fixed;
    top: 50px;
    left: -300px;
    width: 300px;
    height: 100vh;
    align-self: flex-start;
    z-index: 999;
    transition: all 1s ease;
  }
  .navbar-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start !important;
    height: max-content;
    width: 100%;
    height: 100%;
    padding-top: 10px;
  

  }
    .navbar-link{
        width: 100%;
        padding: 30px;
        font-size: 18px;
        font-weight: 400;
        color: #525452;
        text-decoration: none;
        cursor: pointer;
        height: max-content;
        display: flex;
        align-items: center;
}
}
@media (max-width: 520px) {
    .header-top,
    .header-middle{
        padding: 0 15px;


    }
    .header-top-phone{
        font-size: 20px;
        
    }

}